th {
    background: #BBBBBB;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}

.td_mealExcess {
    color: #993333;
    background: #FFEFEF;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
}

.td_mealNotExcess {
    color: #339933;
    background: #EFFFEF;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
}
